<a href="https://colab.research.google.com/github/darunrat/data_viz/blob/main/Function_Loop_condition.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
name='ดรุณรัตน์'
surname = 'ราชแข็ง'
ID='613020968-5'

b=f'ชื่อ {name} นามสกุล {surname} รหัส {ID}'
print(b)

ชื่อ ดรุณรัตน์ นามสกุล ราชแข็ง รหัส 613020968-5

function

ทำหน้าที่รับ input มาประมวลผลออกมาเป็น output
#####f(x)=y

def คือการกำหนดฟังก์ชัน

```python
def function_name(_input_) :
  do_someting with _input_ to get _output_
  return _output_
```

 ###### back tick(`) ==> กดค้าง,alt-9>6 ,full keyboard with number
 ##### tilde (~)
  ##### cury bracket ({ })
  ##### squre breacket ([ ])

funtion มีส่วนสำคัญทั้งหมด 4 ส่วน 
1. บอก python ว่าเราจะเขียนฟังชั่นชื่ออะไร ```def function_name (ขาดไม่ได้) : ```
2. กำหนดตัวแปรที่จะเป็น input  ``` _input _``` (ขาดได้)
3. ส่วนประมวลผล ````do_someting with  _input_  to get  _output_ ```(ขาดไม่ได้) 
4. ส่วน return_output_(ขาดได้)

In [ ]:
def print_name(name1,surname1,ID1) :
 st =f'ชื่อ {name} นามสกุล {surname} รหัส {ID} '
 return st
print_name('ราชแข็ง','613020968-5','ดรุณรัตน์'  )

'ชื่อ ดรุณรัตน์ นามสกุล ราชแข็ง รหัส 613020968-5 '

In [ ]:
print(print_name(name1='ดรุณรัตน์' ,surname1='ราชแข็ง' ,ID1='613020968-5'))

ชื่อ ดรุณรัตน์ นามสกุล ราชแข็ง รหัส 613020968-5

In [ ]:
print(print_name('ดรุณรัตน์' ,'ราชแข็ง' ,'613020968-5'))

ชื่อ ดรุณรัตน์ นามสกุล ราชแข็ง รหัส 613020968-5

In [ ]:
def print_name2(surname2,ID2,name2):
  st=f'ชิ่อ {name2} นามสกุล {surname2} รหัส {ID2}'
  print(st)
  print_name2(name2='ดรุณรัตน์', surname2='ราชแข็ง', ID2='613020968-5')

ฟังก์ชันไม่ต้องมี input

In [ ]:
def pi() :
  return 3.14159265359

In [ ]:
pi()*(2**2) #หาพื้นที่ของวงกลมที่มีรัศมีเท่ากับ pi*r^2

12.56637061436

เราสามารถกำหนดค่า default ให้กับฟังก์ชันได้

In [ ]:
def print_2line_default(name,surname,ID,grade='F') :
  st= f' ชื่อ {name} นามสกุล  {surname} รหัส  {ID}   '
  print(st)
  st2= f'เกรดวิชา Data Viz >>> {grade}'
  print(st2)

In [ ]:
print_2line_default('ดรุณรัตน์','ราชแข็ง','ราชแข็ง')

 ชื่อ ดรุณรัตน์ นามสกุล  ราชแข็ง รหัส  ราชแข็ง
เกรดวิชา Data Viz >>> F

In [ ]:
print_2line_default('ดรุณรัตน์','ราชแข็ง','ราชแข็ง','A')

 ชื่อ ดรุณรัตน์ นามสกุล  ราชแข็ง รหัส  ราชแข็ง
เกรดวิชา Data Viz >>> A

#Loop การวนซ้ำ

for เป็นคำที่ใช้บอกบอก pyhon ว่าเรากำลังเขียน loop โดยforจะดนดิ่งสมาชิกจาก ```list``` มาทำ ```process do_```

In [ ]:
for i in [1,2,3] :
  o=i**2
  print (f'this member = {i} affter process={o}' )

this member = 1 affter process=1
this member = 2 affter process=4
this member = 3 affter process=9

ตัวอย่างการใช้คำสั่ง for ในการวนซ้ำของ i เมื่อ iคือ '  ' และคำสั่ง print(f'{i}->/') เพื่อกำหนดให้ผลลัพธ์แสดงสัญลักษณ์ ->/ จากนั้นเพิ่มคำสั่ง

In [ ]:
for i in 'Darunrat' :
  print(f'{i} -> / ',end='  ') #printแบบไม่เว้นบรทัด

D -> /   a -> /   r -> /   u -> /   n -> /   r -> /   a -> /   t -> /

In [ ]:
for i in 'Darunrat' :
  print(f'{i} -> / ',end=' , ') #printแบบไม่เว้นบรทัด

D -> /  , a -> /  , r -> /  , u -> /  , n -> /  , r -> /  , a -> /  , t -> /  ,

#สร้าง list ตัวเลขอัติโนมัติ range ()

In [ ]:
range_output=range(5) #ห้ามตั้งชื่อตัวแปรเป็นชื่อเดียวกับฟังก์ชัน
print(range_output)

range(0, 5)

In [ ]:
range_output=range(5) #ห้ามตั้งชื่อตัวแปรเป็นชื่อเดียวกับฟังก์ชัน
print(list(range_output))

[0, 1, 2, 3, 4]

In [ ]:
for i in range(100):
  print('งง',end=' ')

งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง

In [ ]:
list(range(1,11)) #เริ่มต้นเป็นวงทึบ จบเป็นวงกลมโปร่ง เหมือน list slicing

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [ ]:
list(range(-3,20,4)) #เริ่มตั้งแต่-3เพิ่มขึ้นทีล่ะ4 ไปจนถึง20

[-3, 1, 5, 9, 13, 17]

loop in loop
ใช้ for loop ซ้อนกัน2รอบ

In [ ]:
for name1 in range(2,5):
  print(f'now name1= {name1}')
  for name2 in range(1,13) :
    print(name1,' x ',name2,' = ',name1*name2)
  print('the inter loop id end')

now name1= 2
2  x  1  =  2
2  x  2  =  4
2  x  3  =  6
2  x  4  =  8
2  x  5  =  10
2  x  6  =  12
2  x  7  =  14
2  x  8  =  16
2  x  9  =  18
2  x  10  =  20
2  x  11  =  22
2  x  12  =  24
the inter loop id end
now name1= 3
3  x  1  =  3
3  x  2  =  6
3  x  3  =  9
3  x  4  =  12
3  x  5  =  15
3  x  6  =  18
3  x  7  =  21
3  x  8  =  24
3  x  9  =  27
3  x  10  =  30
3  x  11  =  33
3  x  12  =  36
the inter loop id end
now name1= 4
4  x  1  =  4
4  x  2  =  8
4  x  3  =  12
4  x  4  =  16
4  x  5  =  20
4  x  6  =  24
4  x  7  =  28
4  x  8  =  32
4  x  9  =  36
4  x  10  =  40
4  x  11  =  44
4  x  12  =  48
the inter loop id end

loop in function

In [ ]:
list_friends=[' may',' A',' nam',' aum' ,' nat ']

In [16]:
def print_feelings(I,friends,feeling='miss you'):
  for friend in friends:
    print(f'{I} {feeling} {friend}')

In [ ]:
print_feelings('m', list_friends )

m miss you  may
m miss you  A
m miss you  nam
m miss you  aum
m miss you  nat

In [ ]:
print_feelings('m', list_friends ,feeling='love' )

m love  may
m love  A
m love  nam
m love  aum
m love  nat

condition

True/false การวนลูปโดยมีเงื่อนไข

```python
if condition :
    do something
elif condition
    do another thing
 else :
    do...
    ```

In [ ]:
F=['m','may','miw']

In [ ]:
for name1 in F :
  for name2 in F :
    print(name1,'love',name2)

m love m
m love may
m love miw
may love m
may love may
may love miw
miw love m
miw love may
miw love miw

In [ ]:
for name1 in F :
  for name2 in F :
    if name1 != name2:
      print(name1,'love',name2)

m love may
m love miw
may love m
may love miw
miw love m
miw love may

In [ ]:
for name1 in F :
  for name2 in F :
    if name1 == name2:
      print(name1,'love',name2)

m love m
may love may
miw love miw

In [ ]:
for name1 in F :
  for name2 in F :
    if name1 == name2:
      'do nothing'
    else :
       print(name1,'love',name2)

m love may
m love miw
may love m
may love miw
miw love m
miw love may

In [ ]:
for name1 in F :
  for name2 in F :
    if name1 != name2:
      'do nothing'
    else :
       print(name1,'love',name2)

m love m
may love may
miw love miw

#####== เท่ากัน
#####!=ไม่เท่ากัน
#####>=มากกว่า
#####<=น้อยกว่า

#HW4

เขียนfunction ตัดเกรด โดยที่ input เป็นคะแนน(0-100) , output เป็นเกรด (F-A) วนลูปตัดเกรด input=[1,50,65,90,101,-5,49]

# กำหนด
ถ้าคะแนนอยู่ระหว่างมากว่าหรือเท่ากับ 0 แต่น้อยกว่า50 จะได้เกรด F

ถ้าคะแนนอยู่ระหว่างมากว่าหรือเท่ากับ 50 แต่น้อยกว่า55 จะได้เกรด D

ถ้าคะแนนอยู่ระหว่างมากว่าหรือเท่ากับ 55 แต่น้อยกว่า60 จะได้เกรด D+

ถ้าคะแนนอยู่ระหว่างมากว่าหรือเท่ากับ 60 แต่น้อยกว่า65 จะได้เกรด C

ถ้าคะแนนอยู่ระหว่างมากว่าหรือเท่ากับ 65แต่น้อยกว่า70 จะได้เกรด C+

ถ้าคะแนนอยู่ระหว่างมากว่าหรือเท่ากับ 70 แต่น้อยกว่า75 จะได้เกรด B

ถ้าคะแนนอยู่ระหว่างมากว่าหรือเท่ากับ 75 แต่น้อยกว่า80 จะได้เกรด B+

ถ้าคะแนนอยู่ระหว่างมากว่าหรือเท่ากับ 80 จะได้เกรด A

แต่ว่าค่าคะแนนจะต้องไม่ต่ำกว่า 0 และมากกว่า 100 ไม่งั้นจะเกิด error

In [77]:
input =[1,50,65,90,101,-5,49]

In [91]:
def  print_grade(score):
  if score>=0 and score<50:print(f'ถ้ามีคะแนน {score} คะแนน จะได้เกรด F')  
  if score>=50 and score<55:print(f'ถ้ามีคะแนน {score} คะแนน จะได้เกรด D')
  if score>=55 and score<60:print(f'ถ้ามีคะแนน {score} คะแนน จะได้เกรด D+')
  if score>=60 and score<65:print(f'ถ้ามีคะแนน {score} คะแนน จะได้เกรด C')
  if score>=65 and score<70:print(f'ถ้ามีคะแนน {score} คะแนน จะได้เกรด C+')
  if score>=70 and score<75:print(f'ถ้ามีคะแนน {score} คะแนน จะได้เกรด B')
  if score>=75 and score<80:print(f'ถ้ามีคะแนน {score} คะแนน จะได้เกรด B+')
  if score>=80:print(f'ถ้ามีคะแนน {score} คะแนน จะได้เกรด A')
  if score <0  : print(f'คะแนนerror')
  if score >=100 : print(f'คะแนนerror')

In [92]:
for score in input:
  print_grade(score)

ถ้ามีคะแนน 1 คะแนน จะได้เกรด F
ถ้ามีคะแนน 50 คะแนน จะได้เกรด D
ถ้ามีคะแนน 65 คะแนน จะได้เกรด C+
ถ้ามีคะแนน 90 คะแนน จะได้เกรด A
ถ้ามีคะแนน 101 คะแนน จะได้เกรด A
คะแนนerror
คะแนนerror
ถ้ามีคะแนน 49 คะแนน จะได้เกรด F