<a href="https://colab.research.google.com/github/darunrat/data_viz/blob/main/Quiz5(2).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd

In [36]:
search_re= pd.read_csv('/content/search_request.csv')
search_re.dropna()

/usr/local/lib/python3.7/dist-packages/IPython/core/interactiveshell.py:2718: DtypeWarning: Columns (7,8,9) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

         Unnamed: 0                             search_id  ...      lat     long
8                 8  02fedb5c-c9cd-46d7-9354-7613ecb7cfdd  ...  13.7209  100.527
9                 9  e215d487-0450-4794-830a-ecfc0ab6493b  ...  13.7208  100.527
10               10  3a69e702-e54b-497c-9b8f-c3991d4c02ff  ...  13.7209  100.527
11               11  03cb2585-738e-4000-afed-e976d123a145  ...  13.7211  100.527
12               12  4974a821-2bc0-4efe-9e2d-d602669dc283  ...  13.7208  100.527
...             ...                                   ...  ...      ...      ...
1220284     1220310  b3d312b0-76a2-4cb7-bd4a-72ea9af69044  ...  13.8786  100.459
1220878     1220904  c34bab6f-ff57-4459-918f-c18f70004b15  ...  13.6244  100.387
1221150     1221176  6138dc2d-06dc-41b8-bde3-b288d5f5cb3f  ...  13.7411  100.463
1221234     1221260  ff695611-d6e5-4977-a7ca-e4153f1ac5b9  ...  18.8879   99.027
1221326     1221352  625c1684-2933-4639-a65a-ec95ba698692  ...  18.2576  99.5449

[38377 rows x 10 columns]

In [33]:
search_re.iloc[0,2]

'2018-06-14 12:34:35.449'

* เปรียบเทียบจำนวน requests ของช่วงเวลา 11.00-11.59 กับ 23.00-23.59
* เปรียบเทียบจำนวน requests ของวันจันทร์-พฤหัสบดี กับ ศุกร์-อาทิตย์

In [34]:
search_re1=search_re['search_timestamp']=='11:00:00'
search_re1

0          False
1          False
2          False
3          False
4          False
           ...
1137615    False
1137616    False
1137617    False
1137618    False
1137619    False
Name: search_timestamp, Length: 1137620, dtype: bool

In [38]:
a=search_re[search_re['search_timestamp']>='11:00:00' ]
a

         Unnamed: 0                             search_id  ...      lat     long
0                 0  683de889-f923-494e-9d46-44a3d67b7259  ...  12.6347  101.463
1                 1  4a811230-ffa4-4631-a4c8-5d0394137d02  ...  14.8009  102.534
2                 2  7ad6ee8e-438e-4bea-9183-74dcef9e358e  ...  13.7383  100.371
3                 3  0c17a5f5-fa89-40f4-ae94-a8659268f827  ...  12.6669  101.861
4                 4  6870dc3a-5602-44fc-80ed-df0a7783df9d  ...  12.2372    99.88
...             ...                                   ...  ...      ...      ...
1221327     1221353  1c6f3d5a-6a29-4e3c-8808-73a1f22f23c9  ...  18.7723  99.0416
1221328     1221354  0fdc1951-2143-4156-859f-f25d500a1e86  ...   13.869  100.495
1221329     1221355  94e02092-6892-4566-959c-4249b91426e1  ...  13.7148  100.534
1221330     1221356  f50fa482-8a69-4942-a585-9d20b1646c8d  ...  13.8231  100.062
1221331     1221357  77975baf-f3fb-4bce-bac6-39795de61ff5  ...      NaN      NaN

[1221332 rows x 10 columns]

In [42]:
a['search_timestamp']<='11:59:00'

0          False
1          False
2          False
3          False
4          False
           ...
1221327    False
1221328    False
1221329    False
1221330    False
1221331    False
Name: search_timestamp, Length: 1221332, dtype: bool

In [8]:
from datetime import datetime