<a href="https://colab.research.google.com/github/darunrat/data_viz/blob/main/Quiz5.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#จากไฟล์ example_timestamp.csv
เปรียบเทียบผลรวม```alpha```และ```beta```ของข้อมูล ก่อนวันที่2มิถุนายน 2020

In [1]:
import pandas as pd

In [15]:
data=pd.read_csv('/content/example_timestamp.csv')
data

   Unnamed: 0  alpha  beta
0  2020-05-29   8.78    24
1  2020-05-30  13.00    25
2  2020-05-31   0.44    25
3  2020-06-01   1.94    28
4  2020-06-02   5.40    20
5  2020-06-03   5.68    21
6  2020-06-04   2.64    16

In [25]:
before2=data.iloc[0:4]
before2

   Unnamed: 0  alpha  beta
0  2020-05-29   8.78    24
1  2020-05-30  13.00    25
2  2020-05-31   0.44    25
3  2020-06-01   1.94    28

In [44]:
b1=before2['alpha']
b1

0     8.78
1    13.00
2     0.44
3     1.94
Name: alpha, dtype: float64

In [45]:
sum(b1)

24.160000000000004

In [46]:
b2=before2['beta']
b2

0    24
1    25
2    25
3    28
Name: beta, dtype: int64

In [47]:
sum(b2)

102

In [27]:
after2=data.iloc[4:7]
after2

   Unnamed: 0  alpha  beta
4  2020-06-02   5.40    20
5  2020-06-03   5.68    21
6  2020-06-04   2.64    16

In [48]:
a1=after2['alpha']
a1

4    5.40
5    5.68
6    2.64
Name: alpha, dtype: float64

In [49]:
sum(a1)

13.72

In [50]:
a2=after2['beta']
a2

4    20
5    21
6    16
Name: beta, dtype: int64

In [51]:
sum(a2)

57

เปรียบเทียบเวลาเฉลี่ยที่ใช้ในการกดเลือกร้าน```time_diff_nanos```   ระหว่างช่วงเวลา 10.00-10.59 กับ 23.00-23.59 ว่าช่วงเวลาไหนมี ```time_diff_nanos```น้อยกว่ากัน

In [10]:
search=pd.read_csv('/content/search_click.csv')
search.dropna()

        click_timestamp  ...    ads
0               11:38.9  ...   True
1               30:51.3  ...   True
2               32:09.6  ...   True
3               00:59.8  ...   True
4               23:36.8  ...   True
...                 ...  ...    ...
1048570         05:28.8  ...  False
1048571         15:28.8  ...  False
1048572         11:49.4  ...  False
1048573         10:33.7  ...  False
1048574         13:51.4  ...  False

[1048206 rows x 6 columns]

In [12]:
search['click_timestamp']

0          11:38.9
1          30:51.3
2          32:09.6
3          00:59.8
4          23:36.8
            ...
1048570    05:28.8
1048571    15:28.8
1048572    11:49.4
1048573    10:33.7
1048574    13:51.4
Name: click_timestamp, Length: 1048575, dtype: object