<a href="https://colab.research.google.com/github/darunrat/data_viz/blob/main/Visuailze_Data_Comparison.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [5]:
import pandas as pd
import os
from datetime import datetime

In [15]:
data = pd.read_csv('/content/search_request.csv')
data.head()

   Unnamed: 0                             search_id  ...        lat        long
0           0  683de889-f923-494e-9d46-44a3d67b7259  ...  12.634739  101.463177
1           1  4a811230-ffa4-4631-a4c8-5d0394137d02  ...  14.800882  102.533777
2           2  7ad6ee8e-438e-4bea-9183-74dcef9e358e  ...  13.738260  100.371405
3           3  0c17a5f5-fa89-40f4-ae94-a8659268f827  ...  12.666877  101.860838
4           4  6870dc3a-5602-44fc-80ed-df0a7783df9d  ...  12.237242   99.879998

[5 rows x 10 columns]

# เตรียมข้อมูล

##### แปลงข้อมูลบอกเวลาให้เป็นตัวแปรชนิด detetime

In [16]:
data['search_timetamp']=pd.to_datetime(data['search_timestamp'],format='%Y-%m-%d %H:%M:%S',errors='coerce')

# Bar chart (กราฟแท่ง)

#####(กราฟผลไม้)

###### สร้างกราฟเปรียบเทียบปริมาณ คนเข้าใช้ web wongnai.com เพื่อค้นหาร้านอาหารในแต่ล่ะวัน

quiz 6

In [20]:
import matplotlib.pyplot as plt

In [ ]:
plt.bar([1,2,3,4,5,6,7],data[data['search_timestamp']])

In [22]:
data['search_timestamp']

0         2018-06-14 12:34:35.449
1         2018-06-14 17:11:19.469
2         2018-06-14 13:22:31.736
3         2018-06-02 12:37:27.331
4         2018-06-02 11:19:22.404
                   ...
686555    2018-06-03 11:20:41.815
686556    2018-06-03 08:15:22.098
686557    2018-06-03 11:52:10.684
686558    2018-06-03 09:20:32.207
686559     2018-06-03 09:55:44.72
Name: search_timestamp, Length: 686560, dtype: object